.shoe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.cart-container {
    border-left: 1px solid rgb(255, 255, 255);
}

.details {
    position: sticky;
    top: 0;
}

.choose-one-btn {
    background-color: #0b6b8b;
    border: none;
    display: none;
}

.choose-one-btn:hover {
    background-color: #13252c;
}

.choose-again-btn {
    background-color: #0b6b8b;
    border: none;
    display: none;

}

.choose-again-btn:hover {
    background-color: #13252c;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {
    body, html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .shoe-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .cart-buttons {
        flex-direction: column;
    }

    .cart-buttons Button:first-child {
        margin-bottom: 10px;
    }

    .cart-buttons Button:nth-child(2) {
        margin-bottom: 20px;

    }
}

@media only screen and (max-width: 900px) {
    body, html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .shoe-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .cart-container {
        display: none;
    }

    .all-shoes-container {
        display: flex;
        flex-direction: column-reverse;
    }
}